.grant {
  background-color: #c9f8d796;
  border-style: solid;
  border-radius: 12px;        
  border-color: #276d3b;
  border-width: 10px;;
  padding: 16px;              
  margin: 16px 10px;             
  font-family: sans-serif;
  transition: transform 0.1s ease-in-out;
}

.grant:hover {
  transform: translateY(-2px); 
}

.grant h3 {
  margin-top: 0;
  color: #242424; 
}

.grant p {
  margin: 4px 0;
  color: #1f1f1f;
}

